.div-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 20em; */
	height: 10em;
}

.logo {
	width: 13em;
	height: 5em;
}

.main-center{
  min-height: 80vh;
  width: 100%;
}

.img-logo{
  height: 30em;
  width: auto;
}

.navbar {
  background-color: #F5F5F5;
  padding-bottom: 2em;
}

.fotomapa {
  width: 30em;
  background-position-x: center;
}

.logo-nav{
  width: 9em;
  height: 4em;
}
  
.text {
  color: #5F6372;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.line {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.btncateg {
	margin-left: 2rem;
	margin-right: 2rem;
	width: 7rem;
	height: 7rem;
}

.sidepanel {
	margin: 0 0 10px;
	padding: 14px 18px 7px;
	border: 2px solid #ccc;
}
.widget_sized ul {
	padding-bottom: 13px;
}
.widget_sized li {
	display: inline-block;
	vertical-align: top;
}
.widget_sized a label {
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	display: block;
	text-transform: uppercase;
	text-align: center;
	line-height: 28px;
	font-size: 11px;
	font-weight: bold;
	color: #666;
	border: 1px solid #e9e9e9;
	transition: border 0.3s ease-in-out;
	-webkit-transition: border 0.3s ease-in-out;
	cursor: pointer;
	border-radius: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.widget_sized a label:hover {
	color: white;
	border: 0px;
	background-color: #666;
	border-radius: 1rem;
}
.widget_sized input[type="checkbox"]:checked + a > label {
	border: 0px solid black;
	background-color: red;
}

.widget_sized input[type="checkbox"] {
	display: none;
}
.widget_sized a {
	text-decoration: none;
}