.div-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 7.5rem;
	background-color: #f5f5f5;
	margin-bottom: 1rem;
}

.div-text {
	display: flex;
	align-items: center;
	color: #5F6372;
}

.logo {
	width: 12em;
	height: 4.5em;
}

.main-center {
	width: 100%;
	display: flex;
	justify-content: center;
}

.img-logo {
  height: 30em;
  width: auto;
}
 
.sidepanel {
	width: 100%;
}

.widget_sized ul {
	padding-bottom: 13px;
}
.widget_sized li {
	display: inline-block;
	vertical-align: top;
}

.widget_sized a label {
	box-sizing: border-box;
	min-width: 5rem;
	min-height: 5rem;
	display: block;
	text-transform: uppercase;
	text-align: center;
	line-height: 28px;
	font-size: 11px;
	font-weight: bold;
	color: #5F6372;
	border: 1px solid #5F6372;
	transition: border 0.3s ease-in-out;
	-webkit-transition: border 0.3s ease-in-out;
	cursor: pointer;
	border-radius: 1rem;
	margin-left: 0,5rem;
	margin-right: 0,5rem;
	padding-top: 25px;
}

.widget_sized a label:hover {
	color: white;
	background-color: #5F6372;
	border-radius: 1rem;
}

.widget_sized input[type="checkbox"]:checked + a > label {
	color: white;
	background-color: #5F6372;
}

.widget_sized input[type="checkbox"]:not(:checked) + a > label {
	color: #5F6372;
	background-color: white;
}

.widget_sized input[type="checkbox"] {
	display: none;
}

.widget_sized a {
	text-decoration: none;
}

.btn-confirm {
	display: flex;
	justify-content: space-around;
}

.line {
	display: flex;
	justify-content: space-around;
	margin-left: 10%;
	margin-right: 10%;
}
